<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="../../static/css/register/registerMain.css">
    <link rel='stylesheet' type='text/css' href='../../static/css/font/font.css'>
</head>
<body>
<div id="app">
    <div class="appWrapper">
        <div class="PageWrapper">
            <div class="IntroPage">
                <h2 class="IntroPage-Title">TEXT회원가입</h2>
                <p class="IntroPage-Description">텍스트에 가입해서 나의 여행을 공유해보세요!</p>
                <!-- 일반 회원가입 -->
                <button class="IntroPage-Button" width="100%" height="48px" font-size="16px" font-weight="500" color="#333" >일반 회원가입</button>
                <!-- 공식계정 회원가입 -->
                <button class="IntroPage-Button2" width="100%" height="48px" font-size="16px" font-weight="500" color="#333" >공식계정 회원가입</button>
                <div class="IntroPage-SubButton">
                    <a href="">
                        <button class="kakaoButton">
                            <img src="" alt="카톡">
                        </button>
                    </a>
                    <a href="">
                        <button class="loginButton">로그인</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>