<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- 공통 css-->
    <link rel="stylesheet" href="../../static/css/font/font.css">
    <link rel="stylesheet" href="../../static/css/inc/reset.css">
    <link rel="stylesheet" href="../../static/css/inc/layout.css">
    <!-- 공통js -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../static/js/inc/layout.js"></script>
    <!-- 페이지 css -->
    <link rel='stylesheet' type='text/css' href='../../static/css/mypage/mypage.css'>

    <title>마이페이지</title>
</head>

<body>
    <div class="mypage">
        <div class="my">
            <a class="mya" href="/my/profile"><img
                    src="https://res.cloudinary.com/frientrip/image/fetch/c_fill,dpr_2,f_auto,h_64,q_auto,w_64/https://k.kakaocdn.net/dn/dpk9l1/btqmGhA2lKL/Oz0wDuJn1YV2DIn92f6DVK/img_110x110.jpg"
                    class="myimg">
                <div class="">
                    <div class="myname">임종민</div>
                    <div class="mysort">카카오톡 계정</div>
                </div>
            </a>
        </div>
        <div class="mymiddel">
            <a href="/">
                <div class="namediv">팔로잉</div>
                <div class="numdiv">0</div>
            </a>
            <a href="/">
                <div class="namediv">팔로워</div>
                <div class="numdiv">2</div>
            </a>
            <a href="/">
                <div class="namediv">피드</div>
                <div class="numdiv">0</div>
            </a>
            <a href="/">
                <div class="namediv">함께해요</div>
                <div class="numdiv">0</div>
            </a>
            <a href="/">
                <div class="namediv">교환해요</div>
                <div class="numdiv">0</div>
            </a>
        </div>
        <hr class="fhr">
        <div class="">
            <a href="/">
                <div class="maindiv">
                    <div class="middiv">
                        <div class="info">피드</div>
                        <div></div>
                    </div>
                </div>
            </a>
            <hr size="32" type="Line" class="ohr">
            <a href="/">
                <div class="maindiv">
                    <div class="middiv">
                        <div class="info">나의 함께해요</div>
                    </div>
                </div>
            </a>
            <hr size="32" type="Line" class="ohr">
            <a href="/">
                <div class="maindiv">
                    <div class="middiv">
                        <div class="info">나의 교환해요</div>
                    </div>
                </div>
            </a>
            <hr size="32" type="Line" class="ohr">
            <a href="/">
                <div class="maindiv">
                    <div class="middiv">
                        <div class="info">개인정보 수정</div>
                    </div>
                </div>
            </a>
            <hr size="32" type="Line" class="ohr">
            <a href="/">
                <div class="maindiv">
                    <div class="middiv">
                        <div class="info">팔로잉/팔로워 목록</div>
                    </div>
                </div>
            </a>
            <hr size="32" type="Line" class="ohr">
            <a href="/">
                <div class="maindiv">
                    <div class="middiv">
                        <div class="info">광고신청 내역</div>
                    </div>
                </div>
            </a>
            <hr size="32" type="Line" class="ohr">
            <a href="/">
                <div class="maindiv">
                    <div class="middiv">
                        <div class="info">설정</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</body>

</html>