@charset "UTF-8";

/* 헤더 header */
#head{width: 100%; height: auto; border-bottom: 1px solid rgb(238, 238, 238);}
#head .inner-head{width: 100%; height: auto;}
/* 헤더 top */
#head .top{background: #f7f7f7;}
#head .inner-top{width: 100%; max-width: 768px; margin: 0 auto;}
#head .top ul{display: flex; padding: 6px 20px; width: auto; justify-content: end;}
#head .top li + li{margin-left: 15px;}
#head .top .name{font-size: 10px; font-weight: 600; margin-right: 5px;}
#head .top .logout{border: 1px solid #707070; background: #fff; padding: 2px 5px; border-radius: 2px;}
#head .top a{font-size: 10px;line-height: 14px;letter-spacing: -0.3px;}
/* 헤더 bottom */
#head .bottom{background: #fff;}
#head .inner-bottom{width: 100%; max-width: 768px; margin: 0 auto; display: flex; justify-content: space-between; -webkit-box-pack: justify; padding: 22px 20px 8px; align-items: center;}
#head .cate{width: 48px; text-align: center; position: relative;}
#head .cate::after{position: absolute; top: 50%; right: -5px; transform: translateY(-50%); content: ''; width: 1px; height: 100%; background-color: #DEDEDE; display: inline-block;}
#head .tit{margin-top: 3px; font-size: 10px; line-height: 14px; letter-spacing: -0.3px; text-align: center; color:#707070;}
/* 헤더 카테 레이어 */
.cate-layer{width: 100%; height: 100vh; position: fixed; z-index: 99; left: 0; top: 111px; display: none;}
.cate-layer .bg{background: rgba(0, 0, 0, 0.6); width: 100%; height: 100vh;}
.cate-layer .layer-con{width: 100%; background: #fff; display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; border-top: 1px solid rgb(238, 238, 238); background-color: white;position: absolute;top: 0;left: 0;}
.cate-layer ul{width: 100%; max-width: 650px; height: 100%; padding: 20px 20px 100px; display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between;}
.cate-layer ul li{width: calc(100% / 4 - 15px); position: relative; border-radius: 10px; overflow: hidden;}
.cate-layer ul li .tit{font-size: 16px !important; font-weight: 600; color: #fff !important; position: absolute; bottom: 10px; left: 10px;}
.cate-layer ul li img{display: block; width: 100%;}
.cate-layer ul li a{transition: all 0.2s; position: relative;}
.cate-layer ul li a::after{transition: all 0.2s; content: ''; position: absolute; left: 0; bottom: -5px; width: 0%; height: 2px; background: #ffb029;}
.cate-layer ul li + li{margin-left: 20px;}
.cate-layer ul li:hover a{color: #21BAF3;}
.cate-layer ul li:hover a::after{content: ''; position: absolute; left: 0; bottom: -5px; width: 100%; height: 2px; background: #21BAF3;}
/* 헤더 로고 */
#head h1.logo{width: 68px; margin: 17px 0px 17px 20px; flex-shrink: 0;}
#head h1.logo img{width: 100%; height: auto;}
/* 헤더 검색 */
#head .search{height: 38px;padding: 0px 14px; -webkit-box-flex: 1; flex: 1 1 auto;}
#head .search form{position: relative;display: flex; justify-content: space-between; border: 1px solid #f7f7f7; -webkit-box-align: center;align-items: center;width: 100%;height: 38px;padding: 0px 12px;border-radius: 19px;background-color:#f7f7f7;border: none; transition: all 0.2s;}
#head .search.active form{background: #fff; border: 1px solid #000;}
#head .search input[type=text]{background: transparent; border: 0px; width: 100%; color:#707070; height: 24px; font-size: 14px; line-height: 22px; outline: none;}
#head .search .del_btn img{vertical-align: bottom;}
/* 헤더 검색 레이어 */
.search-layer{width: 100%; height: 100vh; position: fixed; z-index: 99; left: 0; top: 111px; display: none;}
.search-layer .bg{background: rgba(0, 0, 0, 0.6); width: 100%; height: 100vh;}
.search-layer .layer-con{width: 100%; background: #fff; display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; border-top: 1px solid rgb(238, 238, 238); background-color: white;position: absolute;top: 0;left: 0;}
.search-layer .inner-con{width: 100%; max-width: 650px;height: 100%;}
.search-layer .history{padding-bottom: 20px; border-bottom: 1px solid #DEDEDE;}
.search-layer .head{padding: 20px; display: flex; justify-content: space-between; align-items: center;}
.search-layer .head .tit{color: #000 !important; font-weight: 600; font-size: 14px !important;}
.search-layer .head .all-del{color: #707070; font-size: 12px; font-weight: 500;}
.search-layer .history li a{padding: 10px 20px; display: block; transition: all 0.3s; font-size: 13px;}
.search-layer .history li:hover a{background: #F2F8FB;}
.search-layer .popularity{padding-bottom: 20px;}
.search-layer .popularity ul{display: flex; align-items: center; flex-wrap: wrap;}
.search-layer .popularity li{width: auto; height: 34px; line-height: normal; background-color: transparent; text-align: center; cursor: pointer; border: 1px solid #ffb029; border-radius: 5px; font-size: 12px; font-weight: 500; margin: 0px 12px 6px 0px; max-width: 150px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.search-layer .popularity li a{color: #ffb029; display: block; padding: 10px 16.5px; transition: all 0.2s;}
.search-layer .popularity li:hover a{background-color: #FFFBF5;}
/* 헤더 유틸 */
#head .util{display: flex;}
#head .util a + a{margin-left: 20px;}

/* 헤더 미디어쿼리 */
@media screen and (max-width: 480px) {
    #head .cate{display: none;}
    #head .util{display: none;}
    #head .top ul{display: none;}
    #head h1.logo{margin-left: 0px;}
    #head .inner-bottom{padding: 10px 20px;}
    #head .search{padding: 0px; padding-left: 14px;}
    .search-layer{top: 73px;}
    
}