    <footer id="footer">
        <div class="inner-footer">
            <section>
                <h2 class="tit">공지사항 및 공식계정</h2>
                <div>TEXT 공식계정: <a href="" class="official">TEXT OFFICIAL</a></div>
            </section>

            <section>
                <h2 class="tit">지원센터</h2>
                <div>운영시간: 평일/주말 10:00 - 17:00 (점심 : 12:00 - 13:00)</div>
                <div>광고: contact@text.com</div>
            </section>

            <section>
                <h2 class="tit">Text</h2>
                <div class="info">
                    <p>
                        ㈜프렌트립|사업자 등록번호 : 261-81-04385<br>
                        통신판매업신고번호 : 2016-서울성동-01088<br>
                        대표 : 임수열|개인정보 관리 책임자 : 양사열<br>
                        서울시 성동구 왕십리로 115 헤이그라운드 서울숲점 G703<br>
                        ㈜프렌트립은 통신판매중개자로서 거래당사자가 아니며, 호스트가 등록한 상품정보 및 거래에 대해 ㈜프렌트립은 일체의 책임을 지지 않습니다.<br><br>

                        NICEPAY 안전거래 서비스 : 고객님의 안전거래를 위해 현금 결제 시, 저희 사이트에서 가입한 구매안전 서비스를 이용할 수 있습니다. 가입 확인
                    </p>
                </div>
                <div class="terms">
                    <a href="">이용약관</a>
                    <a href=""><b>개인정보 처리방침</b></a>
                    <a href="">위치기반 서비스 이용약관</a>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>