@font-face {
  font-family: 'pretendard';
  src: url('pretendard/Pretendard-Thin.woff') format(woff),
    url('pretendard/Pretendard-Thin.woff2') format(woff2);
  font-weight: 200;
}
@font-face {
  font-family: 'pretendard';
  src: url('pretendard/Pretendard-Light.woff') format(woff),
    url('pretendard/Pretendard-Light.woff2') format(woff2);
  font-weight: 300;
}
@font-face {
  font-family: 'pretendard';
  src: url('pretendard/Pretendard-Regular.woff') format(woff),
    url('pretendard/Pretendard-Regular.woff2') format(woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'pretendard';
  src: url('pretendard/Pretendard-Medium.woff') format(woff),
    url('pretendard/Pretendard-Medium.woff2') format(woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'pretendard';
  src: url('pretendard/Pretendard-Bold.woff') format(woff),
    url('pretendard/Pretendard-Bold.woff2') format(woff2);
  font-weight: 600;
}
@font-face {
  font-family: 'pretendard';
  src: url('pretendard/Pretendard-Black.woff') format(woff),
    url('pretendard/Pretendard-Black.woff2') format(woff2);
  font-weight: 700;
}
