button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    appearance: button;
}
img {
    border-style: none;
}
::selection {
    background-color: #b3d4fc;
    color: #000000;
    text-shadow: none;
}
*,
::before,
::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
div {
    display: block;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
* {
    outline: none;
    font-family: inherit;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
button {
    cursor: pointer;
}
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
button,
select {
    text-transform: none;
}
button,
input {
    overflow: visible;
}
button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}
/* ----------------------------------------------------------------------------------------------------------- */
#app {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}
.appWrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.SocialFeedPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin: 0px auto;
}

/* 피드헤더 (피드라고 써져있는부분) */
.SocialFeedPage-Header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.SocialFeedPage-Title {
    color: rgb(51, 61, 75);
    font-weight: bold;
    font-size: 24px;
}
.SocialFeedPage-button {
    cursor: pointer;
    vertical-align: super;
}

/* 피드 contents ----------------------------------------------------------------------------------------- */
.SocialFeedPage-Content {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}
.FeedList {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: flex-start;
    overflow-x: hidden;
}
.FeedList > div {
    max-width: 214px;
    width: 100%;
    padding: 30px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-left: 1px solid rgb(238, 238, 238);
    margin-left: -1px;
}

/* wrapper들 5개 */

/* 1. 피드 contents - 프로필 이름, 사진, 시간 */
.FeedList-ProfileWrapper {
    margin-bottom: 15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.UserProfileWrapper {
    display: flex;
}

/* 1-1. 프로필이미지 */
.ProfileImageWrapper {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    margin-top: 10%;
}
.ProfileImage-Wrapper {
    min-height: 1px;
}
.ImageLoader {
    display: none !important;
}

.Fade-Wrapper {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
}

/* 사진 크기 설정 */
.Fade-Wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.StyledImage {
    display: initial;
    border-radius: 36px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 1-2. 프로필 텍스트 */

.ProfileTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Profile-name {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: rgb(78, 89, 104);
}
.Profile-Time {
    font-size: 12px;
    line-height: 12px;
    color: rgb(142, 151, 163);
}
.FeedImage-ImageLoader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 1-3. 점세개 버튼 */
.UserProfileButton {
    cursor: pointer;
    justify-items: flex-end;
}
.FeedImage-ImageLoader {
    display: none;
}

/* 2. 피드 contents - 사진 */
.FeedList-ImageWrapper {
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(242, 243, 246);
    cursor: pointer;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
}
.FeedList-ImageWrapper > div {
    padding-bottom: initial;
    height: 100%;
}

/* 슬라이드? 하면서 추가된거 8/7 ------------------------------------*/

.slick-slider {
    visibility: visible;
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-Button-left {
    left: 10px;
    z-index: 1;
    width: 50px !important;
    height: 50px !important;
    transform: rotate(180deg) translate(0px, 50%) !important;

    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-Button-left:before {
    content: '←';
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.Ratio-content div {
    height: 100%;
}

/* 슬릭 리스트 */
.slick-list {
    transform: translate3d(0, 0, 0);
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    display: block;
}

.slick-Button-right {
    right: 10px;
    width: 50px !important;
    height: 50px !important;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

/* 밑에 동그란 버튼 */

.slick-dots {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    width: 13px;
    height: 13px;
    margin: 0px;

    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li.slick-active button::before {
    background-color: rgb(255, 255, 255);
}

.slick-dots li button::before {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 4px;
}
.slick-dots li.slick-active button:before {
    color: black;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

/* --------------------------------------------------------------------------- */

/* 3. 피드 contents - a태그 */
.FeedList-LinkCardWrapper {
    margin-top: 12px;
    margin-left: -18px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    height: 23px;
    font-size: 13px;
    font-weight: 600;
    /* color: rgb(5, 116, 230); */
    padding: 0px 20px;
    /* border: 1px solid rgb(229, 231, 234); */
    /*   border-radius: 20px; */
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.ContentTitle {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.maybe-category {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 4. 피드 contents - 본문내용 discription*/
.FeedList-Description {
    margin-top: 18px;
    margin-bottom: 21px;
    letter-spacing: -0.4px;
    font-size: 13px;
    color: rgb(78, 89, 104);
    white-space: pre-line;
}

.Content-Description {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
}

.Description-ExpendButton {
    padding: 0px;
    color: rgb(171, 182, 196);
}

/* 5. 피드 contents - 하트, 댓글 */
.FeedList-ActionGroup {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: rgb(78, 89, 104);
}
.ActionGroup-heart {
    height: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin-right: 20px;
}

.ActionGroup-Score {
    margin-left: 8px;
}

.ActionGroup-ReplyLink {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 24px;
}

/* 이 아래는 필요한지 잘 모르겠음 */
.FloatingButtonWrapper {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
.Footer-Wrapper {
    padding: 40px 20px 96px;
    background-color: rgb(248, 248, 248);
}

.FeedImage-wrapper2 {
    max-width: 213px;
    position: relative;
    align-items: center;
}
